<!-- templates/partials/sidebar.html -->
{{define "sidebar"}}
<div class="fixed top-0 left-0 h-screen w-16 m-0 flex flex-col bg-gray-900 text-white p-4 shadow-lg">
    <ul class="space-y-4">
        <li>
            <button
                hx-get="/"
                hx-target="#mainContent"
                class="group w-full flex items-center gap-2 text-left bg-gray-800 text-green-400 hover:bg-green-500 hover:text-white p-2 rounded-3xl hover:rounded-xl transition-all duration-300"
            >
                <i class="fas fa-house-user"></i>
                <span
                    class="absolute w-auto p-2 m-2 min-w-max left-14 rounded-md shadow-md text-white bg-gray-900 text-xs font-semibold transform scale-0 group-hover:scale-100 group-hover:text-base transition-transform duration-300 origin-left"
                >
                    Home
                </span>
            </button>
        </li>
        
        <!-- Separator Line -->
        <div class="border-t border-gray-600 my-4"></div>

        <div>
            <button
                id="playAudio"
                class="group w-full flex items-center gap-2 text-left bg-gray-800 text-green-400 hover:bg-green-500 hover:text-white p-2 rounded-3xl hover:rounded-xl transition-all duration-300"
            >
                <i class="fas fa-volume-up"></i>
                <span
                    class="absolute w-auto p-2 m-2 min-w-max left-14 rounded-md shadow-md text-white bg-gray-900 text-xs font-semibold transform scale-0 group-hover:scale-100 group-hover:text-base transition-transform duration-300 origin-left"
                >
                    Play Welcome Audio
                </span>
            </button>
            <audio id="welcomeAudio" src="static/audio/welcome.mp3"></audio>
        </div>
        <li>
            <button
                hx-get="/experience"
                hx-target="#mainContent"
                class="group w-full flex items-center gap-2 text-left bg-gray-800 text-green-400 hover:bg-green-500 hover:text-white p-2 rounded-3xl hover:rounded-xl transition-all duration-300"
            >
                <i class="fas fa-briefcase"></i>
                <span
                    class="absolute w-auto p-2 m-2 min-w-max left-14 rounded-md shadow-md text-white bg-gray-900 text-xs font-semibold transform scale-0 group-hover:scale-100 group-hover:text-base transition-transform duration-300 origin-left"
                >
                    Working Experience
                </span>
            </button>
        </li>
        <li>
            <button
                hx-get="/projects"
                hx-target="#mainContent"
                class="group w-full flex items-center gap-2 text-left bg-gray-800 text-green-400 hover:bg-green-500 hover:text-white p-2 rounded-3xl hover:rounded-xl transition-all duration-300"
            >
                <i class="fas fa-project-diagram"></i>
                <span
                    class="absolute w-auto p-2 m-2 min-w-max left-14 rounded-md shadow-md text-white bg-gray-900 text-xs font-semibold transform scale-0 group-hover:scale-100 group-hover:text-base transition-transform duration-300 origin-left"
                >
                    Projects
                </span>
            </button>
        </li>
        <li>
            <button
                hx-get="/contact"
                hx-target="#mainContent"
                class="group w-full flex items-center gap-2 text-left bg-gray-800 text-green-400 hover:bg-green-500 hover:text-white p-2 rounded-3xl hover:rounded-xl transition-all duration-300"
            >
                <i class="fas fa-envelope"></i>
                <span
                    class="absolute w-auto p-2 m-2 min-w-max left-14 rounded-md shadow-md text-white bg-gray-900 text-xs font-semibold transform scale-0 group-hover:scale-100 group-hover:text-base transition-transform duration-300 origin-left"
                >
                    Contact Me
                </span>
            </button>
        </li>
        <li>
            <button
                hx-get="/ama"
                hx-target="#mainContent"
                class="group w-full flex items-center gap-2 text-left bg-gray-800 text-green-400 hover:bg-green-500 hover:text-white p-2 rounded-3xl hover:rounded-xl transition-all duration-300"
            >
                <i class="fas fa-comments"></i>
                <span
                    class="absolute w-auto p-2 m-2 min-w-max left-14 rounded-md shadow-md text-white bg-gray-900 text-xs font-semibold transform scale-0 group-hover:scale-100 group-hover:text-base transition-transform duration-300 origin-left"
                >
                    Ask Me Anything
                </span>
            </button>
        </li>
        <li>
            <button
                hx-get="/quiz"
                hx-target="#mainContent"
                class="group w-full flex items-center gap-2 text-left bg-gray-800 text-green-400 hover:bg-green-500 hover:text-white p-2 rounded-3xl hover:rounded-xl transition-all duration-300"
            >
                <i class="fas fa-graduation-cap"></i>
                <span
                    class="absolute w-auto p-2 m-2 min-w-max left-14 rounded-md shadow-md text-white bg-gray-900 text-xs font-semibold transform scale-0 group-hover:scale-100 group-hover:text-base transition-transform duration-300 origin-left"
                >
                    Programming Quiz
                </span>
            </button>
        </li>
    </ul>
</div>
{{end}}
