{{define "content"}}
<div class="min-h-screen bg-gradient-to-br from-slate-900 via-slate-800 to-slate-900 text-white animate-fade-in-left flex items-center">
    <div class="flex flex-wrap items-center justify-center px-4 py-16 w-full lg:w-10/12 mx-auto">
        <!-- Text Section -->
        <div class="w-full lg:w-6/12 text-center lg:text-left space-y-6">
            <h1 class="text-5xl font-bold leading-normal py-2">
                <span class="bg-clip-text text-transparent bg-gradient-to-r from-blue-400 via-purple-500 to-purple-600 inline-block">Holla! I'm Isyraf</span> 👋
            </h1>
            <p class="text-2xl font-medium">
                I'm a <span id="animatedText" class="text-blue-400"></span>
            </p>
            <p class="text-lg text-gray-300">I love crafting web experiences that delight users, using the latest tech to bring ideas to life.</p>
            <p class="text-lg text-gray-400">Curious about what I've been up to 🛠️? Hop over to the sidebar to explore my projects and adventures in code!</p>

        </div>

        <!-- Profile Picture Section -->
        <div class="w-full lg:w-6/12 flex justify-center lg:justify-end mt-8 lg:mt-0">
            <div class="w-64 h-64 lg:w-80 lg:h-80 rounded-full overflow-hidden border-4 border-blue-500 shadow-lg">
                <img src="static/images/msyelf.jpg" alt="My Picture, bro" class="w-full h-full object-cover">
            </div>
        </div>
    </div>
</div>
{{end}}
